*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-dark-cl: #434455;
    --main-logo-cl: #4D5AE5;
    --logo-up-nav-cl: #2E2F42;
    --logo-down-cl: #F4F4FD;
    --active-link-cl: #404BBF;
    --main-background-cl: #FFFFFF;
    --border-clr: #E7E9FC;
    --shadow-cl: rgba(0, 0, 0, 0.15);
    }

body {
    background-color: var(--main-background-cl);
    color: var(--main-dark-cl);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

main {
    flex-grow: 1;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid var(--border-clr);
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 40px; 
    margin-right: 332px;
}

.header-address {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    padding: 24px 0;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-logo-cl);
}

.link {
    text-decoration: none;
}

.studio {
    color: var(--logo-up-nav-cl);
}

.studio-down {
    color: var(--logo-down-cl);
}

.nav-link {
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-up-nav-cl);
    text-transform: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active-link-cl);
}

.nav-link.active::after {
    content: '';
    border-radius: 2px;
    background-color: var(--ocean, #404BBF);
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
}

.current {
    color: var(--active-link-cl);
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
    color: currentColor;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--active-link-cl);
}

.header-list {

}

.hero-container {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
}

.hero-section {
    background-color: var(--logo-up-nav-cl);
    color: var(--main-background-cl);
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;

    background-color: var(--main-logo-cl);
    color: var(--main-background-cl);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px var(--shadow-cl);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--active-link-cl);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}



.section-features {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-section {
    padding: 120px 0;
}

.features-li {
    width: calc((100% - 72px) / 4);
}

.features-icons {
    display: block;
    border-radius: 4px;
    background-color: var(--logo-down-cl);
    padding: 24px 100px;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
    gap: 24px;
}

.general-section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-up-nav-cl);
    margin-bottom: 8px;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

.main-what-section {
    padding-bottom: 120px;
}

.section-what-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-up-nav-cl);
    text-align: center;
    margin-bottom: 72px;
}

.section-what {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 0;
    padding-top: 0;
}

.what-li {
    width: calc((100% - 48px) / 3);
}

.container-team {
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    padding-top: 0;
}

.section-team {
    background-color: var(--logo-down-cl);
    padding: 120px 0;
}

.section-team-title {
    margin-bottom: 72px;
    padding-bottom: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-up-nav-cl);
    text-align: center;
}

.team-li {
    border-radius: 0px 0px 4px 4px;
}

.team-back {
    background-color: var(--main-background-cl);
}

.worker-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
}

.team-icons{
}

.team-icons-list {
    display: inline-flex;
    gap: 24px;
}

.team-icon-link {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--main-logo-cl);
    width: 40px;
    height: 40px;
    margin-top: 8px;
    gap: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--active-link-cl);
}

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.prt-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 24px;
    margin-bottom: 72px;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    min-width: 360px;
    min-height: 420px;
    padding-bottom: 0px;
    align-items: flex-start;
    flex-shrink: 0;
    background: var(--main-background-cl);
}

.card-li {
    width: calc((100% - 48px) / 3);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.card-li:hover,
.card-li:focus {
    border: 1px solid var(--cloud, #F4F4FD);
    background-color: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--border-clr);
    border-top: none;
}

.portfolio-btn {
    padding: 12px 24px;
    border: 1px solid var(--border-clr);
    border-radius: 4px;

    color: var(--main-logo-cl);
    background-color: var(--logo-down-cl);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    border: 1px solid transparent;

    color: var(--main-background-cl);
    background-color: var(--active-link-cl);
}

.app-title {
    margin-bottom: 8px;
}

.section-customers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    fill: #8E8F99;
}

.customers-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--logo-up-nav-cl);
    text-align: center;
    margin-bottom: 72px;
}

.customer-li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    width: 168px;
    height: 88px;
    padding: 32px 16px;
    flex-shrink: 0;
}

.customer-icon-box {
    fill: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.customer-li:hover {
    border-color: var(--active-link-cl);
}

.customer-li:hover .customer-icon-box {
    fill: var(--active-link-cl);
}


.footer {
    padding: 100px 0;
    position: relative;

    background-color: var(--logo-up-nav-cl);
    text-align: left;
}

.footer-paragraph {
    display: flex;
    width: 264px;
    flex-direction: column;
    flex-shrink: 0;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-down-cl);
}

.footer-subtitle {
    position: absolute;
    top: 100px;
    left: 540px;
    width: 96px;
    height: 24px;

    display: flex;
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.5;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.footer-social-icons {
    position: absolute;
    top: 140px;
    left: 540px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 16px;
    flex-direction: row;
}

.footer-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 16px;
    flex-direction: row;
}

.footer-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--main-logo-cl);
    width: 40px;
    height: 40px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover {
    background-color: #31d0aa;
}

.overlay-card {
    
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-logo-cl);

    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.box:hover .overlay {
    transform: translateY(0);
}

.overlay-text {
    padding: 40px 32px 164px 32px ;
    color: var(--logo-down-cl);
    align-items: center;
    min-width: 296px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;
    pointer-events: none;

    background-color: #2E2F42, rgba(46, 47, 66, 0.40);
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%), translateY(-50%);
}

.modal {
    position: absolute;
    top: 80;
    left: 516px;
    width: 408px;
    height: 584px;
    transform: translateX(-50%), translateX(-50%);

    border-radius: 4px;
    background-color:#FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: opasity 250ms;
}

.modal-btn {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;

    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--border-clr);
    border: none;
}

.modal-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--active-link-cl);
}

